.names{
    font-size: 1.0em;
}
.app{
    max-width: 100vw;
}

.borderAll{
    border: solid black 2px !important;
}
.border0{
    border: none !important;
}

.borderBC{
    border-bottom: 2px solid gray !important;
}